* {
   font-family: Arial;
} 
h1 {
   color: red;
   background-color: blue;
}
body {
   background-image: url("images/DevourLogo.jpg");
   background-color: black;
   color: white;
   border: 0px;
}
table {
   width: 1500px;
   border-collapse: collapse;
   overflow-y: scroll;
   overflow-x: hidden;
}
td {
   height: 250px;
   border: 1px solid white;
   padding: 10px;
}
.body {
   height: 600px;
   overflow-y: scroll;
   overflow-x: hidden;
}
.navigation {
   list-style-type: none;
   text-align: center;
   margin-bottom: 15px;
   padding: 0px;
}
.navigation li {
   display: inline-block;
}
.navigation li a {
   color: yellow;
   text-decoration: none;
}
