* {
   font-family: Arial;
}
  
h1 {
   color: red;
   background-color: blue;
}

body {
   background-color: black;
   color: white;
}
table {
   width: 1500px;
   height: 600px;
   border: 1px solid red;
   border-collaps: border;
}
tr{
   border: 1px solid blue;
}
td {
   border: 1px solid white;
}
.table {
   border: 2px solid white;
   height: 600px;
   overflow-y: scroll;
   overflow-x: hidden;
}
