* {
   font-family: Arial;
}
  
h1 {
   color: red;
   background-color: blue;
}

body {
   background-color: black;
   color: white;
}
table {
   width: 1500px;
   border: 1px solid red;
   border-collapse: collapse;
   overflow-y: scroll;
   overflow-x: hidden;
}
td {
   height: 250px;
   border: 1px solid white;
}
.table {
   align: center;
   border: 2px solid blue;
   height: 600px;
   width: 1540px;
   overflow-y: scroll;
   overflow-x: hidden;
}
